ENVIRONMENT=DEV
HOST_PROJECT_DIR=           # PROJECT DIRECTORY ON HOST (NOT IN A CONTAINER)!!!
DATA_SOURCE_URI=
AIRFLOW_HOME=/project/airflow
AIRFLOW_UID=1001
AIRFLOW_GID=0
AIRFLOW__DAG_PROCESSOR__REFRESH_INTERVAL=5

SNOWFLAKE_ACCOUNT=XXXXXXX-XX11111
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=MARKETS
SNOWFLAKE_SCHEMA=DEV

SNOWFLAKE_ADMIN_USER=admin
SNOWFLAKE_ADMIN_PASSWORD=password

SNOWFLAKE_HOME=/project/snowflake
SNOWFLAKE_USER=dbt
SNOWFLAKE_PRIVATE_KEY_FILE=/project/dbt/.credentials/rsa_key.p8
SNOWFLAKE_PUBLIC_KEY_FILE=/project/dbt/.credentials/rsa_key.pub
SNOWFLAKE_PRIVATE_KEY_FILE_PWD=password

PYSPARK_USER=pyspark
PYSPARK_PRIVATE_KEY_FILE=/project/src/.credentials/rsa_key.p8
PYSPARK_PUBLIC_KEY_FILE=/project/src/.credentials/rsa_key.pub
PYSPARK_PRIVATE_KEY_FILE_PWD=password
